@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 h1 ,h2, h3, h4, a, p, li, v-text{
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    @apply align-middle;
 }
 h1{
  @apply text-5xl font-bold leading-normal tracking-widest uppercase;
  @apply max-xl:text-4xl max-xl:tracking-widest;
  @apply max-sm:text-3xl;
 }
 h2{
  @apply text-3xl font-normal leading-10 tracking-widest capitalize text-black_2;
  @apply max-lg:text-2xl;
 }
 h3{
  @apply text-lg leading-10 tracking-widest capitalize;
 }
 ul.listContent{
   @apply space-y-4 !important;
 }
 li{
   @apply font-semibold tracking-widest capitalize text-black_9;
 }
 p, v-text{
  @apply tracking-widest text-black_3;
  font-size: 0.99em !important;
  letter-spacing: 1.6px !important;
  line-height: 1.8em !important;
 }
 v-text{
   @apply text-justify;
 }
 a{
  @apply tracking-widest text-opacity-75 text-color_1 ;
 }
}